PORT=3000
NODE_ENV=development
APP_URL=http://localhost:3000

GEMINI_API_KEY=
MONGODB_URI=mongodb://veltoraitsolution2026_db_user:n0ts7YAPJA5L1Cft@ac-jflfkts-shard-00-00.qh1bdso.mongodb.net:27017,ac-jflfkts-shard-00-01.qh1bdso.mongodb.net:27017,ac-jflfkts-shard-00-02.qh1bdso.mongodb.net:27017/?ssl=true&replicaSet=atlas-xvbroj-shard-0&authSource=admin&appName=CBGL
JWT_SECRET=ce931a375d0d6537b7b753b471f3ecb6f13a3cf94dc9c9165af1504cb0464921e46e0203191ded6f65a1637d41ce34147425fac7f5e528f83343559fb4f57389

FIREBASE_API_KEY=AIzaSyCa3IOfgslOcVSq9c2YigZ6gkSxvuNkces
FIREBASE_AUTH_DOMAIN=cbgl1-40925.firebaseapp.com
FIREBASE_PROJECT_ID=cbgl1-40925
FIREBASE_STORAGE_BUCKET=cbgl1-40925.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=729566958573
FIREBASE_APP_ID=1:729566958573:web:e890f66548486700b3cde4

VITE_FIREBASE_API_KEY=AIzaSyCa3IOfgslOcVSq9c2YigZ6gkSxvuNkces
VITE_FIREBASE_AUTH_DOMAIN=cbgl1-40925.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cbgl1-40925
VITE_FIREBASE_STORAGE_BUCKET=cbgl1-40925.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=729566958573
VITE_FIREBASE_APP_ID=1:729566958573:web:e890f66548486700b3cde4

SMTP_HOST=
SMTP_PORT=587
SMTP_EMAIL=
SMTP_PASSWORD=
COLLEGE_EMAIL=Kreshive1509@gmail.com

GOOGLE_SCRIPT_WEBAPP_URL=https://script.google.com/macros/s/AKfycbwrsGZf3w4EU8V5uNIjkg_O89XhJqqYIiXL3Ff60WTh6eLwxDOrs95d4hnZs18xm-mlDg/exec
GOOGLE_MAPS_API_KEY=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
SESSION_SECRET=
